.App {
  text-align: center;
  align-items: center;
  /* background-color: #dadada; */
}

/* Detail表示用 */
.header {
  line-height: 0.7;
  padding: 20px 30px 5px 30px;
  text-align: left;
  background-color: lightyellow;
  opacity: 0.8;
  position: sticky;
  top: 0vh;
}

.footer {
  /* フッターを下部に固定 */
  position: fixed;
  bottom: 0vh;
  width: 100%;
}

.detail {
  margin: 30px;
  text-align: left;
}

.icon {
  /* アイコンを円形にマスク */
  width:  45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  filter: drop-shadow(6px -1px 5px  rgba(0,0,0,0.3));
}

.image {
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
