body {
  margin: 0px;
  background-color: #dadada;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Zen Maru Gothic', sans-serif;
  /* src: url(./font/ZenMaruGothic-Regular.ttf); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 行間の高さ */
p {
  line-height: 1.1;
}
